.App {
    --header_height: 60px;
}

.hw {
padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hwTitle {
display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

