/* Стили для выпадающего списка */
.select {
    width: 100%; /* Задайте ширину по вашему усмотрению */
    padding: 8px; /* Подстройте отступы по вашему усмотрению */
    font-size: 16px; /* Подстройте размер шрифта по вашему усмотрению */
    border: 1px solid black; /* Цвет рамки */
    border-radius: 4px; /* Закругление углов */
}

.select:focus {
    outline: none; /* Убираем фокусовку по умолчанию */
    border-color: black ;/* Цвет рамки при фокусе */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Тень при фокусе */
}

/* Стили для опций в выпадающем списке */
.option {
    padding: 8px; /* Подстройте отступы по вашему усмотрению */
    cursor: pointer;
}

.option:hover {
    background-color: #f0f0f0; /* Цвет фона при наведении */
}
