/* Стили для иконки бургер-меню */
.burgerMenuIcon {
    width: 30px;
    height: 30px;
    cursor: pointer;

}

.header {
    background-color: white;
    color: black;
    padding: 10px;

    display: flex;
    justify-content: space-between;
}

.header h1 {
    margin: 0;
}
