.button {
    display: inline-flex;
    padding: 5px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: white;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: #212A34;
}

.secondary {
    background-color: white;
    border: 2px solid #045a8d;
    color: #045a8d;
}

.default {
    border-radius: 3px;
    background: #06C;
    color: white;
    transition: background-color 0.3s ease;
}

.red {
    border-radius: 3px;
    background-color: #cc0000;
    transition: background-color 0.3s ease;
}

.default:hover {
    background-color: #045a8d;
}

.red:hover {
    background-color: #a50000;
}

.secondary:hover {
    background-color: #DDEEFF;
}

.default:active {
    background-color: #003366;
}

.red:active {
    background-color: #660000;
}

.secondary:active {
    /* Добавьте стили для :active на .secondary, если необходимо */
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
